:root{
    --theme-color: white;
    --secondary-color: #16008B;
    --c1 :  #B38BFA;
    --c2: #FF79F2;
    --c3: #43E6FC;
    --c4: #F19576;
    --c5: #0047FF;
    --c6: #6691FF;
    --c7: #001F8B;

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

.right {
    width: 80%;
    height: 100%;
    padding: 50px;
    background-color: #DAE5F5;
    
}
 
img{
    height: 35vh;
    width: 35vw;


}
.rightCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 15px;
}
.title{
    font-weight: 600;
    font-size: 1.5em;
    margin: 2em 4em;
}

.desc{
  max-width: 45%;
}
.enc{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}
.plusContainer{
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    height: 6vh;
    width: 3vw;
    color: var(--theme-color);
    font-size: 2.5em;
    position: fixed;
    bottom: 1em;
    left: 6em;
    display: flex;
    align-items: center;
    justify-content: center;

}
.popup {
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    border-radius: 8px;
    padding-left: 1em;
}
.colorOptions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
}

.colorCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.colorCircle.selected {
    transform: scale(1.2);
    border: 2px solid #000; 
}
form{
    height: 100%;
    width: 100%;

}
.groupList {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.groupItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.groupIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.groupName {
    font-size: 1em;
    font-weight: 600;
}


